<ion-view title="Welcome!">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <a class="item item-thumbnail-left" href="http://muddywatersrestaurant.com/contact-us/">
            <img src="img/muddy-waters-logo3.jpg">
            <h2>Visit Muddy Waters!</h2>
            <p>954-428-6577</p>
            <p>
                Join us today
                <br/> <u>Click for Directions</u>
            </p>
        </a>
    <div class="card">
      <div class="item item-text-wrap">
        
          <h2 align="center">Welcome to Muddy Waters!</h2>

          <p>Login or Register as a new Food Pantry and start managing your donations</p>
        
  
            <div class="button-bar">
              <a class="button button-balanced" ng-click="openLogin()">Login</a>
              <a class="button button-energized" ng-click="openRegister()">Register</a>              
            </div>
        
        </div>
 
    </div>
        
    </ion-content>
</ion-view>