<ion-view title="Welcome!">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <a class="item item-thumbnail-left" href="http://muddywatersrestaurant.com/contact-us/">
            <img src="img/muddy-waters-logo3.jpg">
            <h2>Visit Muddy Waters!</h2>
            <p>954-428-6577</p>
            <p>
                Join us today <br/>
                <u>Click for Directions</u>
            </p>
        </a>
        <div class="card">
            <div class="item item-text-wrap">

                <h2 align="center">
                    <b>LOYALTY ROYALTY CLUB!</b>
                </h2>
                <div class="button-bar">
                    <a class="button button-balanced" ng-click="openLogin()">
                        <b>Login</b>
                    </a>

                    <a class="button button-energized" ng-click="openRegister()">
                        <b>Join</b>
                    </a>
                </div>
                <p>Become a Loyalty Royalty member. It is easy and rewarding!!!
                    Click Join and the next time you dine-in we will activate your Muddy Waters Loyalty Royalty card and start acquiring points for food and beverage purchases.
                    Find out more here... </p>

            </div>
            <div class="row">
                <a class="button" href="http://muddywatersrestaurant.com">
                    <b>Home Page</b>
                </a><br/>
                <a class="button" href="http://muddywatersrestaurant.com/specials/">
                    <b>Today's Specials</b>
                </a><br/>
                <a class="button" href="#/app/garments">
                    <b>Custom Shirts</b>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>